/* page area names */
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
  
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

/* mobile layout */
  .wrapper {

    min-height: 95vh;    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 72px 1fr  50px;
    grid-template-areas: 
      "header header  header"
      "sidebar content ad"
      "footer footer footer"
   }              

          

/* medium screen layout */
@media (max-width: 700px) {
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
}
  }                        
