.light-blue-box {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;  
  min-height: 50px;
}
.white-box {
  border: 1px solid black;
  border-radius: 5px;
  background: #FFFFFF;
  min-height: 50px;
  padding: 20px;
}
